body{
    margin: 0;
    background-color: #eff0f4;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#999;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */

    color:#999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#999;
}

header{
    background-color: #5fc0cd;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
header a,button  a,header h3{
    text-decoration: none;
    color: white;
}
h3{
    font-weight: normal;
}
.registered{
    padding-left: 5px;
}
.content .login{
    font-size: 250%;
    background-color: #FFFFFF;
    margin-top: 10px;
    vertical-align: middle;
    padding-bottom: 10px;
}
.login input{
    box-sizing: border-box;
    position: relative;
    padding: 7px 0px 7px 0px;
    margin: 0 0 5px 60px;
    border: 0px;
    outline: none;
    cursor: pointer;
    font-family: "ו";
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
}
img.iphone {
    position: relative;
        left:25px;
        top: 8px;
    width: 19px ;
    height: 28px ;
}
img.cowBg {
    position: relative;
        left:44px;
        top: 10px;
    width: 1px ;
    height: 35px ;
}
button{
    margin-top: 10px;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    letter-spacing: 6px;
    background-color: #5fc0cd;
    border: 0;
}
p{
    text-align: right;
}
p a{
    text-decoration:none;
    color: #5fc0cd;
}








